{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>My Quiz</h2>
            </div>
            <div class="col-12">
                <h3>Add answers</h3>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div id="answers">
  <div class="container">
    <div class="section-header">
      <h3 style="text-align:center;">Type in answers</h3>
  <h5 style="margin-top:15px;">Question*</h5>
  <form style="text-align:center;" method="post" id="answer-form" action="{% url 'quiz:question_answers' quiz.pk question.pk %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <input class="form-control" type="text" name="text" value="{{form.text.value}}" maxlength="255" required id="id_text">
    <a style="margin-top:10px;" class="btn btn-danger" href="{% url 'quiz:question_delete' question.pk %}">Delete question</a>
    <div class="{% if formset.errors %} border-danger{% endif %}">
        <div class="row" style="margin-top:15px;">
          <div class="col-8">
            <strong>Answers</strong>
          </div>
          <div class="col-2 correct">
            <strong>Correct?</strong>
          </div>
        </div>
      {% for error in formset.non_form_errors %}
        <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
      {% endfor %}
      <div class="list-group list-group-flush list-group-formset">
        {% for form in formset %}
          <div class="">
            <div class="row" style="margin-top:10px;">
              <div class="col-8">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                <input autocomplete="off" type="text"  class="form-control" name="{{form.text.html_name}}" {% if form.text.value != None %} value="{{form.text.value}}" {% endif %}  maxlength="255" id="{{form.text.auto_id}}">
                {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>{% endif %}
              </div>
              <div class="col-2">
                <input type="checkbox"  style="width:25px;height:25px;margin-top:5px;" {% if form.is_correct.value %} checked {% endif %} name="{{form.is_correct.html_name}}"  id="{{form.is_correct.auto_id}}">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <p>
      <small style="margin-top:15px;" class="form-text text-muted">Your question may have at least <strong>2</strong> answers and maximum <strong>4</strong> answers. Select at least one correct answer.</small>
    </p>
    <input type="submit" class="btn btn-success" value="Save changes">
    <a href="{% url 'quiz:quiz_update' quiz.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
  </div>
  </div>
</div>
{% endblock %}
