{% extends 'quiz/base.html' %}

{% block content %}

            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Create Quiz</h2>
                        </div>
                        <div class="col-12">
                            <h3>Create your own quiz</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h3>Please first enter quiz name</h3>

                      <form id="question-create" action="." method="post">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="quiz_name"></label>
                              <input type="text" class="form-control" name="name" autocomplete="off" id="quiz_name" required placeholder="Enter quiz name..."/>
                          </div>
                          <input class="form-submit" type="submit" value="Submit">

                        </form>
                    </div>
                </div>
            </div>
            <!-- Portfolio End -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
$("#question-create").submit(function(e) {
  // prevent form submission
  e.preventDefault();
  $.ajax({
    type: "POST",
    dataType: 'json',
    data: $(this).serialize(),
    success: function(data) {
      $('.portfolio').load(data.url + ' .container')
     }
  });

});
});
</script>

<script type="text/javascript">
$(document).on('submit', '#question-form',function(e) {
  var form = $('#question-form');
  // prevent form submission
  e.preventDefault();
  $.ajax({
    type: "POST",
    dataType: 'json',
    url: form.attr('action'),
    data: $(this).serialize(),
    success: function(data) {
      $('.portfolio').load(data.urlans + ' .container')
     }
  });
});
</script>


{% endblock %}
