
<div class="container">
  <input type="hidden" id="myVar" name="variable" value="{{ correct_answer }}">
  <div id="conn" class="bounce-in">
    <div class="card" style="margin: 0 auto;">
      <div class="card-header">
        <div class="num-questions">
          <span class="num">1</span><span>/{{num_of_q}}</span>
        </div>
        <h2>{{ question.text }}</h2>
      </div>
      </div>
    </div>
      <div class="fade-in">
        <form id="ajax-test-form" method="post" action="{% url 'quiz:start_quiz' quiz.pk question.pk %}">
          {% csrf_token %}
      <ul class="list-group list-group-flush">
        {% for radio in form.answer %}
        <!-- id in input and for must be the same name to bind it together -->
          <input type="radio" id="{{ radio.id_for_label }}" name="answer" value="{{ radio.data.value }}" required>
          <label class="ans" answer="{{radio.choice_label}}" for="{{ radio.id_for_label }}">
              {{ radio.choice_label}}
          </label>
            {% endfor %}
              </form>
      </ul>
    </div>
    </div>
