
{% block content %}

<div class="container">
    <div class="section-header text-center">
        <h3>Type in the question</h3>

      <form id="question-form" action="{% url 'quiz:add_question' quiz.pk %}" method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="ques-name"></label>
              <input type="text" class="form-control" name="text" autocomplete="off" id="ques-name" required placeholder="Enter question..."/>
          </div>
          <input class="form-submit" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
