{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}

            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{quiz.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->

          

            <!-- About Start -->
            <div id="container">
                {% include 'quiz/partial_radio.html' %}
            </div>

            <!-- About End -->

{% endblock %}

  {% block javascript %}

  <script src="{% static 'js/start-quiz.js' %}"></script>

  {% endblock %}
